<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title>
        <%=title%>
    </title>
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <!-- CSS -->

</head>

<body>
    <!-- HEADER -->

    <!-- BODY -->
    <%- body %>

        <!-- FOOTER -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>